@import url('https://fonts.googleapis.com/css?family=Lobster:100,200,300,400,500,600,700');

/*------------------------Navbar--------------------*/




/*------------------------Logo--------------------*/

.styrk-logo {
    
    font-family: "Lobster", cursive, sans-serif;
}

.styrk-logo:link {
    text-decoration: none;
}

.styrk-logo:visited {
  text-decoration: none;
}

.styrk-logo:hover {
  text-decoration: none;
  color: white;
}

.styrk-logo:active {
  text-decoration: none;
}


.nav-dropdown {
    text-align: right;
}



.nav-dropdown {
    color: white;
}

.nav-dropdown:link {
    text-decoration: none;
}

.nav-dropdown:visited {
    text-decoration: none;
}

.nav-dropdown:hover {
    text-decoration: none;
    color: white;
}

.nav-dropdown:active {
  text-decoration: none;
}

/*------------------------Callout--------------------*/



/*------------------------Sign up button--------------------*/

/*------------------------Quotes--------------------*/

/*------------------------Features--------------------*/

/*------------------------Become a member button--------------------*/


/*------------------------Footer--------------------*/



    
footer {
    background-color: red;
}
