@import url('https://fonts.googleapis.com/css?family=Lobster:100,200,300,400,500,600,700');





/*------------------------Navbar--------------------*/



.nav-link {
    color: yellow;
}

.navmenu-desktop {
    color: yellow;
}

/*------------------------Logo--------------------*/

.styrk-logo {
    
    font-family: "Lobster", cursive, sans-serif;
    color: #b8c6b2 !important;
   
}

.styrk-logo:link {
    text-decoration: none;
}

.styrk-logo:visited {
  text-decoration: none;
}

.styrk-logo:hover {
  text-decoration: none;
  color: white;
}

.styrk-logo:active {
  text-decoration: none;
}


.nav-dropdown {
    text-align: right;
}



.nav-dropdown {
    color: white;
}

.nav-dropdown:link {
    text-decoration: none;
}

.nav-dropdown:visited {
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: none;
    color: white;
}

.nav-dropdown:active {
  text-decoration: none;
}

.nav-link {
    color: #b8c6b2 !important;
}

/*------------------------Index.html--------------------*/

/*------------------------Callout--------------------*/


.container-quotes {
    height: 250px;
}

.btn-home {
    background-color: #11613c;
}

.carousel-caption {
    position: relative;
    right: 0%;
    left: 0%;
}


.hero-container-desktop {
    height: 65vh;
    background-color: black;
}

.col-barbell {
    background: url(../images/barbell2.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 50vh;
}

.col-woman {
    background: url(../images/woman-squat.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 65vh;
    max-width: 2000px;
}

/*------------------------WE OFFER:--------------------*/

.ul-we-offer-sm {
    margin: 0;
    padding: 0;
}

.row-we-offer-lg {
    max-width: 768px;
}

.container-we-offer {
    background-color: #9e8c54;
}

/*------------------------Sign up button--------------------*/

/*------------------------Quotes--------------------*/

/*------------------------Features--------------------*/




/*------------------------Become a member button--------------------*/


.become-member-container {
    background-color: black;
}

.fistbump {
    background: url(../images/fist-bump1.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
    max-width: 2000px;
    
}


.kettlebell {
    background: url(../images/kettlebell.jpg) no-repeat center right; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;
}

.col-member-today {
    height: auto;
}

.call-out-btm {
    font-family: "Lobster", sans-serif;
    color: #b8c6b2;
}
/*------------------------Footer--------------------*/



    



.footer-logo {
    width: 150px;
}

.envelope-icon {
    color: #b8c6b2;
}

.phone-icon {
    color: #b8c6b2;
}

.instagram-icon {
    color: #b8c6b2;
}

.facebook-icon {
    color: #b8c6b2;
}







.instagram-icon:hover {
  text-decoration: none;
  color: white;
}

.instagram-icon:link {
    text-decoration: none;
}

.instagram-icon:visited {
    text-decoration: none;
}
    




.facebook-icon:hover {
    text-decoration: none;
    color: white;
}

.facebook-icon:link {
    text-decoration: none;
}

.facebook-icon:visited {
    text-decoration: none;
}



/*------------------------membership.html--------------------*/

.membership-container {
height: 100px;
width: 80%;
}

.membership-container-lg {
height: 200px;

}

.btn-member {
    background-color: #11613c;
}


.membership-text {
    font-size: 30px;
    font-weight: 200;
}

.enviroment {
 background: url(../images/enviroment1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    }

    .ropes {
 background: url(../images/ropes1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 130vh;
    }


    /*------------------------about-us.html--------------------*/

    .about-trainer {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        object-fit: cover;
        object-position: 100% 30%;
        
    }

    .about-trainer2 {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        object-fit: cover;
        object-position: 100% 30%;
        
    }

    .about-trainer3 {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        object-fit: cover;
        object-position: 100% 30%;
        
    }

    .about-trainer4 {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        object-fit: cover;
        object-position: 100% 30%;
        
    }

    .about-trainer5 {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        object-fit: cover;
        object-position: 100% 30%;
        
    }

    .about-trainer6 {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        object-fit: cover;
        object-position: 100% 30%;
        
    }

    .about-trainer7 {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        object-fit: cover;
        object-position: 100% 30%;
        
    }

    .about-trainer8 {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        object-fit: cover;
        object-position: 100% 30%;
        
    }

    .about-trainer9 {
        
        
        object-fit: cover;
        object-position: 100% 30%;
        transform: scale(1.5);
        border-radius: 50%;
        height: 100px;
        width: 100px;
    
        
    }

    .about-trainer10 {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        object-fit: cover;
        object-position: 100% 30%;
        
    }